*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
main{
    display: flex;
    background-color: #e8eff9;
    height: 89.5vh;
}

a{
    color: inherit!important;
}
nav{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 10vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: none;
}
#metade{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
@media (max-width: 1000px) {
    #menu{
        display: block;
    }
    #admin{
        display: none;
    }
    #lateral_menu {
        position: absolute;
        display: none;
    }
    main{
        width: 100vw;
        overflow: scroll;
    }
    .table{
        overflow-y: hidden; 
        overflow-x: scroll; 
        width:23rem!important;
        height:62%!important;
        display: block;
    }
  }
#nav2{
    display: none;
}
#lateral_menu{
    width: 15rem;
    background-color: #1b1b29;
    height: 100%;
    color: #bfccda;
}
.options {
    height:2.5rem;
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: start;
}
#logo{
    border-bottom-style: solid;
    margin-bottom: 0.5rem;
    border-width: 1px;
}
.options:hover {
    background-color: #414147;
}
section:nth-of-type(2) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table{
    width:40rem!important;
    height:62%!important;
    display: block;
}
#adminRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#button{
    width: 10rem;
    margin-bottom: 1rem;
}
#formAddAdmin{
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}
#formUpdateAdmin{
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}
/*CSS COM JS*/ 
#requirements {
    margin-top: 10px;
    color: red;
    display: none;
    margin-bottom: 1rem;
  }
  #requirements2 {
    margin-top: 10px;
    color: red;
    display: none;
    margin-bottom: 1rem;    
  }
  
  .valid {
    color: green;
  }
/*CSS COM JS*/ 
