* {
    font-family: 'Poppins', sans-serif;
  }
  nav {
    border-style: none;
    border-bottom-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .flex {
    display: flex;
    gap: 1rem;
  }
  .flex2 {
    display: flex;    
  }
  .font {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .input1 {
    border-style: none;
    border-radius: 10px;
    width: 20rem;
    box-shadow: 1px; 
    outline: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }
  .button {
    background-color: crimson;
    border-style: none;
    color: black;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5;
    padding-bottom: 0.5;
    text-decoration: none;
  }
  .button:hover {    
    color: white;
  }
  .span {
    display: none;
  }
  section {
    display: none;
  }
  .open {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;   
    padding: 0.5rem;
    border-bottom-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    font-size: 1rem;
  }
  .text-menu{
    color: black;
    text-decoration: none;
  }
  @media (max-width: 900px) {
    .menu {
      display: block;
      cursor: pointer;
       
    }
    
    nav .flex2 {
      display: none; 
    }

    .input1 {
      display: none; 
    }
    .span {
      display: block; 
    }
    
  }